body {
  color: #33334f;
  font-family: 'Source Sans Pro',-apple-system,BlinkMacSystemFont,"Segoe UI","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

a {
  cursor: pointer;
}

footer {
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  min-height: 90px;
  padding: 70px 40px 20px;
  width: 100%;
}

footer a {
  color: #ffffff !important;
}

#footerFixed {
  position: absolute;
  bottom: 0;
}

.landing-box {
  background: white;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 15px;
}

.landing-box .Select-control {
  border: none !important;
}


.custom-counter {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.custom-counter li {
  counter-increment: step-counter;
}

.custom-counter li::before {
  content: counter(step-counter);
  margin-right: 10px;
  font-size: 80%;
  background-color: #fafafa;
  color: #34333 !important;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}

.search-header {
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.15);
  box-shadow: 0 1px 0 rgba(0,0,0,0.15);
  -webkit-tab-highlight-color: transparent;
  background-color: #fafafa;
  padding-top: 16px;
  position: relative;
  z-index: 15;
}

.table {
  background: #ffffff !important;
}

/*========================
    BASIC styles
  =======================*/
* {
  box-sizing: border-box;
}

/* iPhone specific */
@media only screen and (max-width: 600px) {
  .iphonehide {
    display: none !important;
  }
  .iphonecenter {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
}

/* iPhone specific */
@media only screen and (min-device-width: 600px) {
  .desktophide {
    display: none;
  }
}